<a href="https://colab.research.google.com/github/ykato27/AutoML-h2o/blob/main/AutoML_h2o.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
!pip install h2o

Requirement already satisfied: h2o in /usr/local/lib/python3.7/dist-packages (3.32.1.3)
Requirement already satisfied: requests in /usr/local/lib/python3.7/dist-packages (from h2o) (2.23.0)
Requirement already satisfied: tabulate in /usr/local/lib/python3.7/dist-packages (from h2o) (0.8.9)
Requirement already satisfied: future in /usr/local/lib/python3.7/dist-packages (from h2o) (0.16.0)
Requirement already satisfied: colorama>=0.3.8 in /usr/local/lib/python3.7/dist-packages (from h2o) (0.4.4)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in /usr/local/lib/python3.7/dist-packages (from requests->h2o) (1.24.3)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.7/dist-packages (from requests->h2o) (2021.5.30)
Requirement already satisfied: idna<3,>=2.5 in /usr/local/lib/python3.7/dist-packages (from requests->h2o) (2.10)
Requirement already satisfied: chardet<4,>=3.0.2 in /usr/local/lib/python3.7/dist-packages (from requests->h2o) (3.0.4)

In [2]:
import h2o
from h2o.automl import H2OAutoML

import sys, os, os.path
import pandas as pd
import numpy as np

import seaborn as sns
import matplotlib.pyplot as plt

%matplotlib inline

# ボストンの住宅価格データ
from sklearn.datasets import load_boston

# 前処理
from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import train_test_split

# 評価指標
from sklearn.metrics import r2_score
from sklearn.metrics import mean_absolute_error
from sklearn.metrics import mean_squared_error

h2o.init(
    nthreads=-1,     # number of threads when launching a new H2O server
    max_mem_size=12  # in gigabytes
)

Checking whether there is an H2O instance running at http://localhost:54321 ..... not found.
Attempting to start a local H2O server...
  Java Version: openjdk version "11.0.11" 2021-04-20; OpenJDK Runtime Environment (build 11.0.11+9-Ubuntu-0ubuntu2.18.04); OpenJDK 64-Bit Server VM (build 11.0.11+9-Ubuntu-0ubuntu2.18.04, mixed mode, sharing)
  Starting server from /usr/local/lib/python3.7/dist-packages/h2o/backend/bin/h2o.jar
  Ice root: /tmp/tmpn4loe1dy
  JVM stdout: /tmp/tmpn4loe1dy/h2o_unknownUser_started_from_python.out
  JVM stderr: /tmp/tmpn4loe1dy/h2o_unknownUser_started_from_python.err
  Server is running at http://127.0.0.1:54321
Connecting to H2O server at http://127.0.0.1:54321 ... successful.

--------------------------  ------------------------------------------------------------------
H2O_cluster_uptime:         02 secs
H2O_cluster_timezone:       Etc/UTC
H2O_data_parsing_timezone:  UTC
H2O_cluster_version:        3.32.1.3
H2O_cluster_version_age:    1 month and 6 days
H2O_cluster_name:           H2O_from_python_unknownUser_g023k1
H2O_cluster_total_nodes:    1
H2O_cluster_free_memory:    12 Gb
H2O_cluster_total_cores:    2
H2O_cluster_allowed_cores:  2
H2O_cluster_status:         accepting new members, healthy
H2O_connection_url:         http://127.0.0.1:54321
H2O_connection_proxy:       {"http": null, "https": null}
H2O_internal_security:      False
H2O_API_Extensions:         Amazon S3, XGBoost, Algos, AutoML, Core V3, TargetEncoder, Core V4
Python_version:             3.7.10 final
--------------------------  ------------------------------------------------------------------

In [3]:
# データセットの読込み
boston = load_boston()

# 説明変数の格納
df = pd.DataFrame(boston.data, columns=boston.feature_names)
# 目的変数の追加
df["MEDV"] = boston.target

# データの中身を確認
df.head()

      CRIM    ZN  INDUS  CHAS    NOX  ...    TAX  PTRATIO       B  LSTAT  MEDV
0  0.00632  18.0   2.31   0.0  0.538  ...  296.0     15.3  396.90   4.98  24.0
1  0.02731   0.0   7.07   0.0  0.469  ...  242.0     17.8  396.90   9.14  21.6
2  0.02729   0.0   7.07   0.0  0.469  ...  242.0     17.8  392.83   4.03  34.7
3  0.03237   0.0   2.18   0.0  0.458  ...  222.0     18.7  394.63   2.94  33.4
4  0.06905   0.0   2.18   0.0  0.458  ...  222.0     18.7  396.90   5.33  36.2

[5 rows x 14 columns]

In [4]:
# ランダムシード値
RANDOM_STATE = 10

# 学習データと評価データの割合
TEST_SIZE = 0.2

# 学習データと評価データを作成
x_train, x_test, y_train, y_test = train_test_split(
    df.iloc[:, 0 : df.shape[1] - 1],
    df.iloc[:, df.shape[1] - 1],
    test_size=TEST_SIZE,
    random_state=RANDOM_STATE,
)

In [5]:
train = pd.merge(x_train, y_train, left_index=True, right_index=True)
test = pd.merge(x_test, y_test, left_index=True, right_index=True)

h2o_train = h2o.H2OFrame(train)
h2o_test = h2o.H2OFrame(test)

Parse progress: |█████████████████████████████████████████████████████████| 100%
Parse progress: |█████████████████████████████████████████████████████████| 100%

In [6]:
# 説明変数/目的変数のカラムを指定
kw = h2o.H2OFrame(list(h2o_train.columns))

feature_cols = kw.columns[:-1]
target_cols = "MEDV"

Parse progress: |█████████████████████████████████████████████████████████| 100%

In [7]:
%%time
# max_runtime_secsは最大実行時間を指定
aml = H2OAutoML(
    max_runtime_secs=30,  # 30 sec
    max_models=None,  # no limit
    stopping_metric ='rmse',
    sort_metric ='rmse',
    seed = RANDOM_STATE,
    )

aml.train(
    y=target_cols,
    training_frame=h2o_train,
    )

AutoML progress: |████████████████████████████████████████████████████████| 100%
CPU times: user 4.84 s, sys: 182 ms, total: 5.02 s
Wall time: 33 s

In [8]:
#スコアの高いモデル順に並び変え
lb = aml.leaderboard
lb.head(rows=lb.nrows)

model_id,rmse,mean_residual_deviance,mse,mae,rmsle
XGBoost_grid__1_AutoML_20210626_015741_model_2,3.19587,10.2136,10.2136,2.20228,0.151833
StackedEnsemble_BestOfFamily_AutoML_20210626_015741,3.20552,10.2754,10.2754,2.16786,0.150956
GBM_grid__1_AutoML_20210626_015741_model_2,3.31107,10.9632,10.9632,2.22769,0.157146
XGBoost_grid__1_AutoML_20210626_015741_model_1,3.34327,11.1775,11.1775,2.21535,0.157374
StackedEnsemble_AllModels_AutoML_20210626_015741,3.35611,11.2635,11.2635,2.24106,0.156368
XGBoost_grid__1_AutoML_20210626_015741_model_4,3.40357,11.5843,11.5843,2.37371,0.166969
XGBoost_grid__1_AutoML_20210626_015741_model_6,3.41653,11.6727,11.6727,2.27024,0.147409
XGBoost_grid__1_AutoML_20210626_015741_model_5,3.469,12.034,12.034,2.42595,0.165229
XGBoost_3_AutoML_20210626_015741,3.48113,12.1183,12.1183,2.39609,0.166242
XGBoost_2_AutoML_20210626_015741,3.54577,12.5725,12.5725,2.39016,0.16461
XGBoost_grid__1_AutoML_20210626_015741_model_3,3.73328,13.9373,13.9373,2.45021,0.161169
GBM_grid__1_AutoML_20210626_015741_model_3,4.0409,16.3289,16.3289,2.75678,0.187527
GLM_1_AutoML_20210626_015741,4.71116,22.195,22.195,3.16006,0.238895
GBM_1_AutoML_20210626_015741,4.74307,22.4967,22.4967,3.283,0.225468
XRT_1_AutoML_20210626_015741,4.88533,23.8665,23.8665,3.1366,0.220186
DRF_1_AutoML_20210626_015741,5.05003,25.5028,25.5028,3.29711,0.222505
DeepLearning_grid__2_AutoML_20210626_015741_model_1,5.1539,26.5627,26.5627,3.32228,0.215025
GBM_3_AutoML_20210626_015741,5.1726,26.7558,26.7558,3.50169,0.239612
DeepLearning_grid__1_AutoML_20210626_015741_model_1,5.20421,27.0838,27.0838,3.1291,0.269725
GBM_4_AutoML_20210626_015741,5.56042,30.9183,30.9183,3.80103,0.258684
DeepLearning_grid__3_AutoML_20210626_015741_model_1,5.58542,31.1969,31.1969,3.5304,0.227765
GBM_5_AutoML_20210626_015741,5.60399,31.4047,31.4047,3.84322,0.243021
GBM_2_AutoML_20210626_015741,5.83811,34.0835,34.0835,4.05985,0.267912
GBM_grid__1_AutoML_20210626_015741_model_1,5.9224,35.0748,35.0748,3.90731,0.251146
DeepLearning_1_AutoML_20210626_015741,6.49625,42.2012,42.2012,4.41418,0.303254
XGBoost_1_AutoML_20210626_015741,10.6093,112.557,112.557,7.3832,0.686755
XGBoost_grid__1_AutoML_20210626_015741_model_7,11.461,131.355,131.355,8.76962,0.698065

In [9]:
# Get the top model of leaderboard
aml.leader

Model Details
=============
H2OXGBoostEstimator :  XGBoost
Model Key:  XGBoost_grid__1_AutoML_20210626_015741_model_2


Model Summary:

     number_of_trees
0               51.0

ModelMetricsRegression: xgboost
** Reported on train data. **

MSE: 0.838590800098565
RMSE: 0.9157460347162661
MAE: 0.6549287715760788
RMSLE: 0.04671028674980109
Mean Residual Deviance: 0.838590800098565

ModelMetricsRegression: xgboost
** Reported on cross-validation data. **

MSE: 10.213601193133211
RMSE: 3.1958725245436828
MAE: 2.2022834638557813
RMSLE: 0.1518326052905409
Mean Residual Deviance: 10.213601193133211

Cross-Validation Metrics Summary:

                                 mean  ...  cv_4_valid  cv_5_valid
0                     mae   2.2017617  ...    2.253587   1.9909848
1  mean_residual_deviance   10.205462  ...   11.438369    6.917458
2                     mse   10.205462  ...   11.438369    6.917458
3                      r2    0.863989  ...   0.8602157  0.92149717
4       residual_deviance   10.205462  ...   11.438369    6.917458
5                    rmse   3.1735935  ...   3.3820658   2.6301062
6                   rmsle  0.15101969  ...  0.15949704  0.13935581

[7 rows x 8 columns]

Scoring History:

                timestamp  ... training_mae  training_deviance
0     2021-06-26 01:57:59  ...    21.341832         532.434631
1     2021-06-26 01:57:59  ...     4.655270          43.766660
2     2021-06-26 01:57:59  ...     2.187642          13.792726
3     2021-06-26 01:57:59  ...     1.628269           7.170656
4     2021-06-26 01:57:59  ...     1.380848           4.618180
5     2021-06-26 01:57:59  ...     1.174594           3.166601
6     2021-06-26 01:57:59  ...     1.048642           2.376199
7     2021-06-26 01:57:59  ...     0.924262           1.784806
8     2021-06-26 01:57:59  ...     0.811169           1.338460
9     2021-06-26 01:57:59  ...     0.735423           1.081790
10    2021-06-26 01:57:59  ...     0.667311           0.866044
11    2021-06-26 01:57:59  ...     0.654929           0.838591

[12 rows x 7 columns]

Variable Importances:

   variable  relative_importance  scaled_importance  percentage
0     LSTAT         15953.510742           1.000000    0.465742
1        RM          8911.679688           0.558603    0.260165
2       DIS          1796.557373           0.112612    0.052448
3      CRIM          1773.405396           0.111161    0.051772
4   PTRATIO          1283.730103           0.080467    0.037477
5       NOX          1184.868164           0.074270    0.034591
6         B          1013.110840           0.063504    0.029576
7     INDUS           800.356750           0.050168    0.023365
8       AGE           691.031982           0.043315    0.020174
9       TAX           592.707947           0.037152    0.017303
10      RAD           170.184265           0.010668    0.004968
11     CHAS            60.058811           0.003765    0.001753
12       ZN            22.741547           0.001425    0.000664

In [10]:
# 予測
y_pred = aml.leader.predict(h2o_test)
y_pred

xgboost prediction progress: |████████████████████████████████████████████| 100%

predict
29.041
28.0348
25.7835
28.0571
19.73
14.18
47.8597
17.3832
21.3282
46.4187

In [11]:
perf = aml.leader.model_performance(h2o_test)
perf

ModelMetricsRegression: xgboost
** Reported on test data. **

MSE: 22.087954294343596
RMSE: 4.69978236669993
MAE: 3.0897762120938768
RMSLE: 0.1595180418199213
Mean Residual Deviance: 22.087954294343596